<h2>Choose a color:</h2>
<!--<select #element (change)="changeColor(element.value)">-->
<!--  <option>&#45;&#45; Choose color &#45;&#45;</option>-->
<!--  <option value="red">Red</option>-->
<!--  <option value="green">Green</option>-->
<!--  <option value="blue">Blue</option>-->
<!--  <option value="yellow">Yellow</option>-->
<!--</select>-->

<select [(ngModel)]="color" style="height: 30px">
  <option value="black">Default color: black</option>
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
  <option value="yellow">Yellow</option>
</select>
<h3 [style.color]="color">Change color of word by choice</h3>

