<div class="container text-primary">
  <h2 class="text-center text-success mt-3">Create new contract detail</h2>
  <form action="/contract-detail/create" method="post">
    <div class="mb-3">
      <label for="contract">Contract</label>
      <select class="form-select" id="contract">
      </select>
    </div>
    <div class="mb-3">
      <label for="attachService">Attach Service</label>
      <select class="form-select" id="attachService">
      </select>
    </div>
    <div class="mb-3">
      <label for="quantity">Quantity</label>
      <input type="text" class="form-control" name="quantity" id="quantity" />
    </div>
    <div class="form-inline">
      <button type="submit" class="btn btn-primary" style="margin-right: 10px">Create</button>
      <a class="btn btn-dark" href="/contract" role="button">Back</a>
    </div>
  </form>
</div>



