<div class="container-fluid text-primary">
  <h2 class="mt-2">Customer List</h2>
  <div class="row mb-3">
    <div class="col-lg-9">
      <a class="btn btn-success" style="margin-right: 10px" routerLink="/customer/create" role="button">Create new customer</a>
      <a class="btn btn-success" routerLink="/customer/use-service" role="button">List customer use service</a>
    </div>
<!--    <div class="col-lg-3">-->
<!--      <form class="row">-->
<!--        <input style="width: 290px; margin-right: 10px" class="form-control" type="search" name="keyword"-->
<!--               placeholder="Name or ID Card" aria-label="Search">-->
<!--        <button style="width: 85px" class="btn btn-outline-success my-2 my-sm-0 font-weight-bold" type="submit">-->
<!--          Search-->
<!--        </button>-->
<!--      </form>-->
<!--    </div>-->
  </div>

  <div>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
      <tr>
        <th>No.</th>
        <th>Code</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Customer Type</th>
        <th>Id Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of customers | paginate: { itemsPerPage: 1, currentPage: p }; index as i">
        <td>{{i + 1}}</td>
        <td>{{c.code}}</td>
        <td>{{c.name}}</td>
        <td>{{c.birthday}}</td>
        <td>{{c.gender == 1? 'Male': 'Female'}}</td>
        <td>{{c.customerType.name}}</td>
        <td>{{c.idCard}}</td>
        <td>{{c.phone}}</td>
        <td>{{c.email}}</td>
        <td>{{c.address}}</td>
        <td><button class="btn btn-success">Detail</button></td>
        <td><button class="btn btn-warning">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event" class="m-lg-2"></pagination-controls>
</div>

