<div class="container text-primary">
  <h2 class="text-center text-success mt-2">Information Customer</h2>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
      <tr>
        <th>No.</th>
        <th>Information</th>
        <th>Detail</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Code</td>
        <td>{{customer.code}}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Name</td>
        <td>{{customer.name}}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Birthday</td>
        <td>{{customer.birthday}}</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Gender</td>
        <td>{{customer.gender === '1'? 'Male': 'Female'}}</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Customer Type</td>
        <td>{{customer.customerType.name}}</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Id Card</td>
        <td>{{customer.idCard}}</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Phone</td>
        <td>{{customer.phone}}</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Email</td>
        <td>{{customer.email}}</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Address</td>
        <td>{{customer.address}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="form-inline">
    <a class="btn btn-primary" style="margin-right: 15px" routerLink="/customer/list" role="button">Back</a>
    <button class="btn btn-warning" (click)="deleteAfterDetail(customer.id, customer.name)">Delete</button>
  </div>
</div>
