<nav class="navbar navbar-light bg-light clearfix border-bottom border-dark">
  <img class="float-left m-lg-2" src="assets/img/logo.png" width="60px" height="60px" alt="">
  <h2 class="text-center text-danger mt-2">WELCOME FURAMA RESORT DANANG</h2>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-right: 30px">
        <a style="font-size: 18px" class="nav-link text-primary" href="/"><strong>Home</strong>
        </a>
      </li>
      <li class="nav-item" style="margin-right: 30px">
        <a style="font-size: 18px" class="nav-link text-primary" href="/employee"><strong>Employee</strong></a>
      </li>
      <li class="nav-item" style="margin-right: 30px">
        <a style="font-size: 18px" class="nav-link text-primary" href="/customer"><strong>Customer</strong></a>
      </li>
      <li class="nav-item" style="margin-right: 30px">
        <a style="font-size: 18px" class="nav-link text-primary"
           href="/service"><strong>Service</strong></a>
      </li>
      <li class="nav-item" style="margin-right: 30px">
        <a style="font-size: 18px" class="nav-link text-primary" href="/contract"><strong>Contract</strong></a>
      </li>
      <li class="nav-item" style="margin-right: 30px">
        <a style="font-size: 18px" class="nav-link text-primary" href="/contract-detail"><strong>Contract
          Detail</strong></a>
      </li>
    </ul>
  </div>
</nav>
